doctype html
html
  head
    meta(charset='utf-8')
    title Shipping Rate Calculator
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    style.
      .loading {
        display: none;
      }
  body
    .container
      .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") ×
              span.sr-only Close
            h4#myModalLabel.modal-title
              | Shipping Rate Calculator
          // Modal Body
          .modal-body
            form#shipping-form(role='form', method='POST', action='http://127.0.0.1:8000/api/v1/logistic/logistic-jnt-city')
              div.form-group
                label(for="shipping_rates_type") Shipping Rates Type:
                select#shipping_rates_type.form-control(name="shipping_rates_type" required)
                  option(value="domestic") Domestic
                  option(value="international") International
              div.form-group
                label(for="origin_postcode") Sender Postcode:
                input#origin_postcode.form-control(type="text" name="origin_postcode" required placeholder="Enter sender postcode")
              div.form-group
                label(for="destination_postcode") Receiver Postcode:
                input#destination_postcode.form-control(type="text" name="destination_postcode" required placeholder="Enter receiver postcode")
              div.form-group
                label(for="destination_country") Destination Country:
                select#destination_country.form-control(name="destination_country" required)
                  option(value="MY") Malaysia
                  option(value="IND") Indonesia
              div.form-group
                label(for="origin_country") Origin Country:
                select#origin_country.form-control(name="origin_country" required)
                  option(value="MY") Malaysia
                  option(value="IND") Indonesia
              div.form-group
                label(for="destination_state") Destination State:
                select#destination_state.form-control(name="destination_state" required)
                  option(value="Kuala Lumpur") Kuala Lumpur
                  option(value="Selangor") Selangor
              div.form-group
                label(for="origin_state") Origin State:
                select#origin_state.form-control(name="origin_state" required)
                  option(value="Kuala Lumpur") Kuala Lumpur
                  option(value="Selangor") Selangor
              div.form-group
                label(for="shipping_type") Shipping Type:
                select#shipping_type.form-control(name="shipping_type" required)
                  option(value="EZ") Regular
                  option(value="EX") Next Day Delivery
              div.form-group
                label(for="parcel_weight") Weight:
                input#parcel_weight.form-control(type="number" name="parcel_weight" required placeholder="Enter weight")
              div.form-group
                label(for="length") Length:
                input#length.form-control(type="number" name="length" required placeholder="Enter length")
              div.form-group
                label(for="width") Width:
                input#width.form-control(type="number" name="width" required placeholder="Enter width")
              div.form-group
                label(for="height") Height:
                input#height.form-control(type="number" name="height" required placeholder="Enter height")
              div.form-group
                label(for="selected_type") Item Type:
                select#selected_type.form-control(name="selected_type" required)
                  option(value="1") Parcel
                  option(value="2") Document
              button.btn.btn-primary(type="submit") Calculate Shipping Rate
              button.btn.btn-default(type="button", data-dismiss="modal")
                | Close
            div.loading(id="loading") Loading...
            div#response
          // Modal Footer
          .modal-footer
            h4.footer
              | Footer Text
    script.
      $(document).ready(function() {
        $('#shipping-form').on('submit', function(event) {
          event.preventDefault();
          $('#loading').show();
          $('#response').empty();

          // Set hidden fields' values
          $('#receiver_postcode').val($('#destination_postcode').val());
          $('#sender_postcode').val($('#origin_postcode').val());
          $('#weight').val($('#parcel_weight').val());

          // Serialize form data
          const formData = $(this).serialize();

          $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData,
            success: function(response) {
              $('#loading').hide();
              $('#response').html('Shipping Rate: ' + response.data);
            },
            error: function(error) {
              $('#loading').hide();
              $('#response').html('Error: ' + error.responseText);
            }
          });
        });
      });
